{% extends 'base.html' %} 

{% load static %}

{% include 'taha/_navbar.html' %}

{% block content %}

<div class="row mx-4 mt-4 mb-4">
	<div class="col-12 col-md-5 mb-4">
		<h1>TAHA</h1>
		<div class="login-title">
			<br />
			<br />
			<h4>TÜRKİYE ANA HABER AJANSINA HOŞ GELDİNİZ</h4>
			<br />
		</div>
		<br />
		<div class="login-title-2">
			<h5>TAHA KULLANICI KAYIT EKRANI</h5>
		</div>
		<div class="box"></div>
		<br />

		<form class="form" method="POST">
			{% csrf_token %}
			{% if error %}
				<div class="alert alert-danger">
					{{error}}
				</div>
			{% endif %}
			<div class="mb-3">
				<label for="username" class="form-label">Kullanıcı Adı</label>
				<input type="text" class="form-control" name="username" value="{{username}}" />
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="firstname" class="form-label">Firstname</label>
					<input type="text" class="form-control" name="firstname" value="{{firstname}}"/>
				</div>
				<div class="col">
					<label for="lastname" class="form-label">Lastname</label>
					<input type="text" class="form-control" name="lastname" value="{{lastname}}"/>
				</div>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label para">Mail Adresiniz</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{email}}"/>
				<div id="emailHelp" class="form-text para">E-postanızı asla başkalarıyla paylaşmayacağız.</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="password" class="form-label">Şifre</label>
					<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password"/>
				</div>
				<div class="col">
					<label for="repassword" class="form-label">Tekrar Şifre</label>
					<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="repassword"/>
				</div>
				<div id="passwordHelpBlock" class="form-text">Şifreniz 8-20 karakter uzunluğunda olmalı, harf ve rakamlardan oluşmalı, boşluk, özel karakter veya emoji içermemelidir.</div>
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" />
				<label class="form-check-label para" for="exampleCheck1">Beni Hatırla</label>
			</div>

			<input type="submit" value="Register" class="btn btn-dark">
			{% comment %} <button type="submit" value="Register" class="btn btn-outline-dark para">Kayıt Ol</button> {% endcomment %}
		</form>
	</div>

	<div class="col-12 col-md-7 text-end login-img">
		<img src="/static/img/ATATURK.jpg" class="img-fluid" alt="" />
	</div>
</div>

{% endblock %}

{% include 'taha/_footer.html' %}
